@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

:root {
    --primary: #42a5f5;
    --grey-light: #F5F5F6;
}

body {
    font-family: 'Oswald', sans-serif;
}

form {
    margin-bottom: 8px;
}

main {
    background-color: var(--grey-light);
    padding-top: 16px;
    padding-bottom: 16px;
}